* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background: #121212;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.gear-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  pointer-events: none;
  user-select: none;
}

.wheel {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: grab;
  user-select: none;
  overflow: visible;
}

.wheel-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center center;
  transition: transform 0.05s linear;
  pointer-events: none;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
